@model  Orden 

   <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css" rel="stylesheet" /> 
@{
    Model.Usuario usuario = new Model.Usuario().ObtenerPerfil(Helper.SessionHelper.GetUser());
    ViewBag.Title = "Crud";
    Model.DetalleOrden orden = new Model.DetalleOrden();
    var seriedt = ViewBag.SerieDt;
    var queestado = ViewBag.estado;
    var message2 = ViewBag.message;

}
<link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/bootstrap-duallistbox.min.css" />
<link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/bootstrap-multiselect.min.css" />
<link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/select2.min.css" />


<script type="text/javascript">

    $(function () {
        $(".datepicker").datepicker({
            defaultDate: "+1w",
            beforeShowDay: $.datepicker.noWeekends,
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            numberOfMonths: 1
        })
    });

    $(document).ready(function () {

       
        
        var porId = document.getElementById("idorden").value

        var miurl;

        if (porId > 0) {

            miurl = "../Search_Empresa/";

        } else {
             miurl = "../orden/Search_Empresa/";
        }


        $("#empresaorden").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: miurl,

                    data: { Prefix_empresa : request.term },
                    success: function (data) {
                        console.log(data)
                        response($.map(data, function (item) {
                            console.log(item);
                            return {
                                label: item.nmempresa,
                                value: item.nmempresa,

                            };
                        }))
                    }
                })

            }
                ,
            messages: {


                noResults: "No results",
                results: function (count) {
                    return count + (count == 0 ? ' result' : ' results');
                }



            }
        });


       $("#empresaorden").on("blur", () => {
            let empresa = document.querySelector("#empresaorden").value;
          //  console.log(document.querySelector("#empresaorden").value)
            $.ajax({
                dataType: "json",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Content("~/admin/orden/buscartipohardware")' +"?empresa=" + empresa ,
                data:'',
                success: function (data) {
                    // let dato = JSON.parse(data)
                    $("#tipohardwaree").html("");
                    $("#tipohardwaree").html("<option>tipo </option>");
                    let opciones = "";
                   
                    data.forEach(element => opciones +="<option>" + element.nombre + "</option>")
                    $("#tipohardwaree").html(opciones)
                    //data.Foreach(element=>console.log(element))
                   
                    //console.log('datos traido '+dato)

                }
            })

        })


    })
</script>



<script type="text/javascript">
    $(document).ready(function () {

        var porId = document.getElementById("idorden").value

        var miurl;

        if (porId > 0) {

            miurl = "../Search_Cliente/";

        } else {
            miurl = "../orden/Search_Cliente/";
        }

        $("#clienteorden").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: miurl,

                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },

                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.nmcliente, value: item.nmcliente };
                        }))
                    }
                })
            },
            messages: {
                noResults: "No results",
                results: function (count) {
                    return count + (count == 0 ? ' result' : ' results');
                }
            }
        });
    })
</script>

<script type="text/javascript">
    $(document).ready(function () {

        var porId = document.getElementById("idorden").value

        var miurl;

        if (porId > 0) {

            miurl = "../Search_Sucursal/";

        } else {
            miurl = "../orden/Search_Sucursal/";
        }

        $("#sucursalorden").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: miurl,
                    type: "POST",
                    dataType: "json",
                    data: { Prefix_sucursal: request.term },

                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.nmsucursal, value: item.nmsucursal };
                        }))
                    }
                })
            },
            messages: {
                noResults: "No results",
                results: function (count) {
                    return count + (count == 0 ? ' result' : ' results');
                }
            }
        });
    })
</script>



<script>

    $(function () {
        var dateFormat = "",
          from = $("#fsolicitudorden")
            .datepicker({
                defaultDate: "+1w",
                beforeShowDay: $.datepicker.noWeekends,
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                numberOfMonths: 1
            })
            .on("change", function () {
                to.datepicker("option", "minDate", getDate(this));
            }),
          to = $("#fentregaorden").datepicker({
              defaultDate: "+1w",
              beforeShowDay: $.datepicker.noWeekends,
              dateFormat: "dd/mm/yy",
              changeMonth: true,
              numberOfMonths: 1
          })
          .on("change", function () {
              from.datepicker("option", "maxDate", getDate(this));

          });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat="dd/mm/yy", element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }

        //$("#fsolicitud").on('change', function () {
         
        //    var date = Date.parse($(this).val());

        //    if (date < Date.now().dateFormat("dd/mm/yy")) {
        //        alert('Please select another date');
        //        $(this).val('');
        //    }

        //});



    });


</script>

<script>

    $(function () {
        var dateFormat = "",
          from = $("#rentinginicio")
            .datepicker({
                defaultDate: "+1w",
                beforeShowDay: $.datepicker.noWeekends,
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                numberOfMonths: 1
            })
            .on("change", function () {
                to.datepicker("option", "minDate", getDate(this));
            }),
          to = $("#rentingfin").datepicker({
              defaultDate: "+1w",
              beforeShowDay: $.datepicker.noWeekends,
              dateFormat: "dd/mm/yy",
              changeMonth: true,
              numberOfMonths: 1
          })
          .on("change", function () {
              from.datepicker("option", "maxDate", getDate(this));

          });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat="dd/mm/yy", element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }

    });


</script>

@*<script>
    window.onload = function () {
        var fecha = new Date(); //Fecha actual
        var mes = fecha.getMonth() + 1; //obteniendo mes
        var dia = fecha.getDate(); //obteniendo dia
        var ano = fecha.getFullYear(); //obteniendo año
        if (dia < 10)
            dia = '0' + dia; //agrega cero si el menor de 10
        if (mes < 10)
            mes = '0' + mes //agrega cero si el menor de 10

        document.getElementById('fsolicitudorden').value = dia + "/" + mes + "/" + ano;
        document.getElementById('fentregaorden').value = dia + 1 + "/" + mes + "/" + ano;
    }
</script>*@


@*

PARA CARGAR INVENTARIO EN UN VISTA PARCIAL

*@
<script>
    $(document).ready(function () {






        @if (Model.idorden > 0)
        {
            <text>
                 CargarInventario();

            </text>
        }
    })
    function CargarInventario()
    {
        //traer precio hardware

        let tipohardaware = $("#tipohardware").val();
       
        let empresa = $("#empresaorden").val();
       
        $("#inventario").load('@Url.Content("~/admin/orden/inventario?Orden_id=" + Model.idorden)' + "&tipo=" + tipohardaware.replace(/ /g, "-") + "&empresa=" + empresa.replace(/ /g, "-"));

    }



</script>








@*<script>

        $(document).ready(function () {

            $("#empresaorden").change(function () {
                consoloe.log('cambio')

                $("#sucursalorden").empty();

                $.getJSON('/orden/GetSucursal', { idempresa: $('#empresaorden').val() }, function (data) {
                    $.each(data, function () {
                        $('#sucursalorden').append('<option value=' +
                            this.Value + '>' + this.Text + '</option>');
                    });
                });
            });
        });

    </script>*@

@*<script>
        $(document).ready(function () {

            $("#empresaorden").change(function () {

                $("#clienteorden").empty();

                $.getJSON('/orden/GetCliente', { idempresa: $('#empresaorden').val() }, function (data) {
                    $.each(data, function () {
                        $('#clienteorden').append('<option value=' +
                            this.Value + '>' + this.Text + '</option>');
                    });
                });
            });
        });

    </script>*@

@*<script>
    window.onload = function () {
        var fecha = new Date(); //Fecha actual
        var mes = fecha.getMonth() + 1; //obteniendo mes
        var dia = fecha.getDate(); //obteniendo dia
        var ano = fecha.getFullYear(); //obteniendo año
        if (dia < 10)
            dia = '0' + dia; //agrega cero si el menor de 10
        if (mes < 10)
            mes = '0' + mes //agrega cero si el menor de 10

        document.getElementById('ftemision').value = dia + "/" + mes + "/" + ano;
      
    }
</script>*@





@using (Html.BeginForm("Guardar", "Orden", FormMethod.Post))
{
    @Html.AntiForgeryToken()



    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="well">
                <div id="yo" class="page">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Informacion</a></li>
                        <li role="presentation"><a href="#generarorden" aria-controls="social" role="tab" data-toggle="tab">Generar Orden</a></li>
                        @if (Model.idorden > 0)
                        {
                            <li role="presentation"><a href="#inventario" aria-controls="inventario" role="tab" data-toggle="tab">Detalle Orden</a></li>
                            <li role="presentation"><a href="#messervicio" aria-controls="messervicio" role="tab" data-toggle="tab">Mis OC / OC</a></li>
                        }
                    
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" style="scrollbar-base-color:ButtonHighlight aliceblue;" id="info">
                            <div class="form">

                                <fieldset>

                                    <div class="form-group">
                                        @Html.HiddenFor(x => x.idorden)
                                        @Html.TextBoxFor(x => x.generateuserorden, htmlAttributes: new { @Value = usuario.nombre, @type = "hidden" })
                                        @Html.TextBoxFor(x => x.generateempresaorden, htmlAttributes: new { @Value = usuario.razonsocial, @type = "hidden" })
                                        @Html.HiddenFor(x => x.produccion)
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group form-group-sm">
                                            @Html.LabelFor(x => x.numeroorden, new { @class = "" })
                                            <div class="">
                                                @Html.TextBoxFor(x => x.numeroorden, new { @class = "form-control form-control-sm", placeholder = "" })
                                                @Html.ValidationMessageFor(x => x.numeroorden, null, new { @class = "label label-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group form-group-sm ">
                                            @Html.LabelFor(x => x.motivorenting, new { @class = "" })
                                            <div class="">
                                                @Html.TextBoxFor(x => x.motivorenting, new { @class = "form-control ", placeholder = "ALQUILER" })
                                                @Html.ValidationMessageFor(x => x.motivorenting, null, new { @class = "label label-danger" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group form-group-sm col-sm-2">
                                        @Html.LabelFor(x => x.tipoatencionorden, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.tipoatencionorden, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.tipoatencionorden, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group form-group-sm col-sm-2">
                                        @Html.LabelFor(x => x.fsolicitudorden, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.fsolicitudorden, new { @class = "form-control datepicker" })
                                            @Html.ValidationMessageFor(x => x.fsolicitudorden, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group form-group-sm col-sm-2">
                                        @Html.LabelFor(x => x.fentregaorden, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.fentregaorden, new { @class = "form-control datepicker" })
                                            @Html.ValidationMessageFor(x => x.fentregaorden, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-2">
                                        @Html.LabelFor(x => x.codigoorden, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.codigoorden, new { @class = "", placeholder = "" })
                                            @Html.ValidationMessageFor(x => x.codigoorden, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-2">
                                        @Html.LabelFor(x => x.empresaorden, new { @class = "" })
                                        <div class="">
                                            @Html.EditorFor(x => x.empresaorden, new { htmlAttributes = new { @class = "form-control", placeholder = "Buscar Empresa" } })
                                            @Html.ValidationMessageFor(x => x.empresaorden, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-2">
                                        @Html.LabelFor(x => x.sucursalorden, new { @class = "" })
                                        <div class="">
                                            @Html.EditorFor(x => x.sucursalorden, new { htmlAttributes = new { @class = "form-control", placeholder = "Buscar Sucursal" } })
                                            @Html.ValidationMessageFor(x => x.sucursalorden, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group form-group-sm col-sm-2">
                                        @Html.LabelFor(x => x.clienteorden, new { @class = "" })
                                        <div class="">
                                            @Html.EditorFor(x => x.clienteorden, new { htmlAttributes = new { @class = "form-control", placeholder = "Buscar Cliente" } })
                                            @Html.ValidationMessageFor(x => x.clienteorden, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-2">
                                        @Html.LabelFor(x => x.contratointernoorden, new { @class = "" })
                                        <div class="">
                                            @Html.EditorFor(x => x.contratointernoorden, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(x => x.contratointernoorden, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-2">
                                        @Html.LabelFor(x => x.refacturableorden, new { @class = "" })
                                        <div class="">
                                            @Html.EditorFor(x => x.refacturableorden, new { htmlAttributes = new { @class = "form-control", placeholder = "SI REFACTURABLE/NO REFACTURABLE" } })
                                            @Html.ValidationMessageFor(x => x.refacturableorden, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-2">
                                        <label>responsable</label>
                                        <div>
                                            <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#exampleModal">
                                                <span class="glyphicon glyphicon-list-alt"></span> Resposable de Cuenta
                                            </button>
                                        </div>
                                        <div id="my-modal" class="modal fade" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h3 class="smaller lighter blue no-margin">A modal with a slider in it!</h3>
                                                    </div>

                                                    <div class="modal-body">
                                                        Some content
                                                        <br />
                                                        <br />
                                                        <br />
                                                        <br />
                                                        <br />
                                                        1
                                                        <br />
                                                        <br />
                                                        <br />
                                                        <br />
                                                        <br />
                                                        2
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                                                            <i class="ace-icon fa fa-times"></i>
                                                            Close
                                                        </button>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-2">
                                        @Html.LabelFor(x => x.hardwaredevice, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.hardwaredevice, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(x => x.hardwaredevice, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-2">
                                        @Html.LabelFor(x => x.sofwareorden, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.sofwareorden, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(x => x.sofwareorden, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group form-group-sm col-sm-2">
                                        @Html.LabelFor(x => x.cantidadhardware, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.cantidadhardware, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(x => x.cantidadhardware, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group form-group-sm col-sm-2">
                                        @if (Model.idorden > 0)
                                        {
                                            @Html.LabelFor(x => x.tipohardware, new { @class = "" })
                                            <div class="">
                                                @Html.TextBoxFor(x => x.tipohardware, new { @class = "form-control", placeholder = "" })
                                                @*<select id="tipohardware" name="tipohardware"></select>*@
                                                @Html.ValidationMessageFor(x => x.tipohardware, null, new { @class = "label label-danger" })
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.LabelFor(x => x.tipohardware, new { @class = "" })
                                            <div class="">
                                                <select id="tipohardwaree" name="tipohardware" class="form-control">
                                                    <option value="">Seleccione</option>
                                                    @*<option value="tipo 1">1</option>
                            <option value="tipo 2">2</option>
                            <option value="tipo 3">3</option>
                            <option value="tipo 4">4</option>*@
                                                </select>
                                                @Html.ValidationMessageFor(x => x.tipohardware, null, new { @class = "label label-danger" })
                                            </div>
                                        }
                                    </div>

                                    <div class="form-group form-group-sm col-sm-4">
                                        @Html.LabelFor(x => x.Observacionesorden, new { @class = "" })
                                        <div class="">
                                            @Html.TextAreaFor(x => x.Observacionesorden, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(x => x.Observacionesorden, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>

                                    <hr />


                                    @*<div class="form-group">

                                       @Html.LabelFor(x => x.empresaorden, new { @class = "col-sm-2 control-label pull-left" })
            <div class="col-md-3">
                @Html.DropDownList("empresaorden",  ViewBag.miempresa as List<SelectListItem>, "-- Seleccionar Empresa --", new { @class = "input-12" })
                @Html.ValidationMessageFor(x => x.empresaorden, null, new { @class = "label label-danger" })
            </div>



                                       <div class="col-md-3">
                @Html.DropDownList("sucursalorden", new SelectList(string.Empty, "Value", "Text"), new { @class = "input-12" })
                @Html.ValidationMessageFor(x => x.sucursalorden, null, new { @class = "label label-danger" })
            </div>

            <div class="col-md-3">
                @Html.DropDownList("clienteorden", new SelectList(string.Empty, "Value", "Text"), new { @class = "input-12" })
                @Html.ValidationMessageFor(x => x.clienteorden, null, new { @class = "label label-danger" })
            </div>

            </div>*@

                                    <hr />

                                </fieldset>





                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" style="scrollbar-base-color:ButtonHighlight aliceblue;" id="generarorden">

                            <div class="">
                                <fieldset>
                                    <div class="form-group form-group-sm col-sm-4">
                                        @Html.LabelFor(x => x.factura, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.factura, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(x => x.factura, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-4">
                                        @Html.LabelFor(x => x.ftemision, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.ftemision, new { @class = "form-control datepicker" })
                                            @Html.ValidationMessageFor(x => x.ftemision, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group form-group-sm col-sm-4">
                                        @Html.LabelFor(x => x.ordenservicio, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.ordenservicio, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(x => x.ordenservicio, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-4">
                                        @Html.LabelFor(x => x.rqservicio, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.rqservicio, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(x => x.rqservicio, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group form-group-sm col-sm-4">
                                        @Html.LabelFor(x => x.aprobadorrq, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.aprobadorrq, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(x => x.aprobadorrq, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-4">
                                        @Html.LabelFor(x => x.correoaprobador, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.correoaprobador, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(x => x.correoaprobador, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-4">
                                        @Html.LabelFor(x => x.contratomarco, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.contratomarco, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(x => x.contratomarco, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-4">
                                        @Html.LabelFor(x => x.tipocliente, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.tipocliente, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(x => x.tipocliente, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-4">
                                        @Html.LabelFor(x => x.grupoeconomico, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.grupoeconomico, new { @class = "form-control", placeholder = "" })
                                            @Html.ValidationMessageFor(x => x.grupoeconomico, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-4">
                                        @Html.LabelFor(x => x.rentinginicio, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.rentinginicio, new { @class = "form-control datepicker" })
                                            @Html.ValidationMessageFor(x => x.rentinginicio, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-4">
                                        @Html.LabelFor(x => x.rentingfin, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.rentingfin, new { @class = "form-control datepicker" })
                                            @Html.ValidationMessageFor(x => x.rentingfin, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-sm-4">
                                        @Html.LabelFor(x => x.estadoorden, new { @class = "" })
                                        <div class="">
                                            @Html.TextBoxFor(x => x.estadoorden, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.estadoorden, null, new { @class = "label label-danger" })
                                        </div>
                                    </div>
                          

                                    <div class="form-group form-group-sm col-sm-4">
                                        <label>Adjunto</label>
                                        <input type="file" name="adjuntorden" class="form-control" />
                                    </div>


                                </fieldset>
                            </div>

                        </div>
                        @*    PARA VISUALIZAR EL DETALLEORDEN AGREGADO             *@
                        @if (Model.idorden > 0)
                        {
                            <div role="tabpanel" class="tab-pane" style="scrollbar-base-color:ButtonHighlight cadetblue;" id="inventario">
                                <div class="form-horizontal">
                                    <fieldset></fieldset>
                                </div>
                            </div>
                        }
                        @*    PARA VISUALIZAR LAS OS DE ALQUILER          *@

                        <div role="tabpanel" class="tab-pane" style="scrollbar-base-color:ButtonHighlight aliceblue;" id="messervicio">

                            <div class="form-horizontal">
                                <fieldset>
                                 
                                    @*<div class="form-group form-group-sm col-sm-4">
                                        <button type="button" class="btn btn-white btn-danger btn-bold" data-toggle="modal" data-target="#exampleModalOS">

                                        

                                            Asignar OS / OC
                                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>

                                        </button>
                                    </div>*@

                                    <h3 class="row header smaller lighter blue">
                                        <span class="col-sm-7">
                                            <i class="ace-icon fa fa-th-large"></i>
                                            <button type="button" class="btn btn-white btn-danger btn-bold" data-toggle="modal" data-target="#exampleModalOS">

                                                Asignar OS / OC
                                                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>

                                            </button>
                                        </span><!-- /.col -->

                                        <span class="col-sm-5">
                                            <label class="pull-right inline">
  
                                                <span class="lbl middle"></span>
                                            </label>
                                        </span><!-- /.col -->
                                    </h3>




                                    <!--Aqui tabla os-->
                                    <div>
                                        <table class="table" id="tablaMisOs" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <td>idServicioMes</td>
                                                    <td>idorden</td>
                                                    <td>idServicio</td>
                                                    <td>meses</td>
                                                    <td>os</td>
                                                    <td>rq</td>
                                                    <td>aprobador</td>
                                                    <td>estado</td>
                                                    <td>Acciones</td>
                                                </tr>

                                            </thead>
                                           <tbody>
                                            @* <tr>
                                                <td>Aqu</td>
                                                <td>Aqu</td>
                                                <td>Aqu</td>
                                                <td>Aqu</td>
                                                <td>Aqu</td>
                                            </tr>*@
                                            </tbody>
                                        </table>
                                    </div>  

                                </fieldset>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="text-right well well-sm">
                    @if (Model.idorden > 0)
                    {
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalEnviarCorreoFose"> Enviar Fose</button>

                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalEnviarCorreoGuiaRemision"> Enviar guia de Remision</button>

                    }
                    <button type="submit" data-ajax="true" class="btn btn-success">
                        <span class="spinner-border spinner-border-sm mr-2"></span>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>





    @*//PARA PODER VISUALIZAR EL MODAL DEL LA INFORMACION*@


    <div id="cargando" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body" style="display:flex; justify-content:center;">
                    <img style="width:120px; margin :5px auto;" src="https://d203ovh1oelywy.cloudfront.net/images/icons/load.gif" />
                </div>

            </div>

        </div>

    </div>

    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos de la Ubcacion Final </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        @Html.LabelFor(x => x.responsableorden, new { @class = "col-sm-6 control-label pull-left" })
                        @Html.TextBoxFor(x => x.responsableorden, new { @class = "form-control", placeholder = "" })
                        @Html.ValidationMessageFor(x => x.responsableorden, null, new { @class = "label label-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(x => x.telefonoresponsableorden, new { @class = "col-sm-6 control-label pull-left" })
                        @Html.TextBoxFor(x => x.telefonoresponsableorden, new { @class = "input-12", placeholder = "" })
                        @Html.ValidationMessageFor(x => x.telefonoresponsableorden, null, new { @class = "label label-danger" })
                    </div>

                    <div class="form-group-sm">
                        @Html.LabelFor(x => x.tipousuarioorden, new { @class = "col-sm-4 control-label pull-left" })
                        @Html.TextBoxFor(x => x.tipousuarioorden, new { @class = "input-12", placeholder = "PASS-INTERNO-OTRO" })
                        @Html.ValidationMessageFor(x => x.tipousuarioorden, null, new { @class = "label label-danger" })
                    </div>

                    <div class="form-group-sm">
                        @Html.LabelFor(x => x.equipousuarioorden, new { @class = "col-sm-4 control-label pull-left" })
                        @Html.TextBoxFor(x => x.equipousuarioorden, new { @class = "input-12", placeholder = "" , id="usuario_ordem"})
                        @Html.ValidationMessageFor(x => x.equipousuarioorden, null, new { @class = "label label-danger" })
                    </div>

                    <div class="form-group-sm">
                        @Html.LabelFor(x => x.telefonousuarioorden, new { @class = "col-sm-4 control-label pull-left" })
                        @Html.TextBoxFor(x => x.telefonousuarioorden, new { @class = "input-12", placeholder = "" })
                        @Html.ValidationMessageFor(x => x.telefonousuarioorden, null, new { @class = "label label-danger" })
                    </div>

                    <div class="form-group-sm">
                        @Html.LabelFor(x => x.redequipoorden, new { @class = "col-sm-4 control-label pull-left" })
                        @Html.TextBoxFor(x => x.redequipoorden, new { @class = "input-12", placeholder = "" })
                        @Html.ValidationMessageFor(x => x.redequipoorden, null, new { @class = "label label-danger" })
                    </div>

                    <div class="form-group-sm">
                        @Html.LabelFor(x => x.ubicacionequipoorden, new { @class = "col-sm-4 control-label pull-left" })
                        @Html.TextBoxFor(x => x.ubicacionequipoorden, new { @class = "input-12", placeholder = "" })
                        @Html.ValidationMessageFor(x => x.ubicacionequipoorden, null, new { @class = "label label-danger" })
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Guardar</button>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalEnviarCorreoFose" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Datos de la Ubcacion Final </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <input class="input-12" id="correoFrom" type="type" name="name" placeholder="Ingrese email" value="" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="enviarFoseCorreo" type="button" class="btn btn-sm btn-primary">Enviar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEnviarCorreoGuiaRemision" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Datos de la Ubcacion Final </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <input class="input-12" id="correoFromGuiaRemision" type="type" name="name" placeholder="Ingrese email" value="" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="enviarGuiaRemisionCorreo" type="button" class="btn btn-sm btn-primary">Enviar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
}

<div class="modal fade" id="exampleModalOS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelOS" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelOS">Seleccionar Meses de la OS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("GuardarServicio", "servicios", FormMethod.Post, new { id = "frmServicio" }))
            {
                @Html.AntiForgeryToken()

                @*<form id="frmServicio">*@
                <div class="modal-body row">


                    @*<row>*@

                        <div class="col-xs-12 col-sm-6">

                            <div class="space-4"></div>

                            <div class="form-group hide">
                                <label for="form-field-username">ID ORDEN</label>

                                <div>
                                  
                                    @Html.TextBoxFor(x => x.idorden, new { @class = "form-control form-control-sm", placeholder = "" })
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-first">N° RQ</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm" id="rq" name="rq" value="N/A"/>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-first">APROBADOR</label>
                                <div>
                                    <input type="text" class="form-control" id="aprobador" name="aprobador" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-first">FECHA OS</label>
                                <div>
                                    <input type="text" class="form-control datepicker" id="fechaos" name="fechaos"/>
                                </div>
                            </div>


                        </div>
                        <div class="col-xs-12 col-sm-6">
                          
                            @*<div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-username">ID SERVICIO</label>

                                <div>
                                    <input type="text" class="form-control" id="idservsicio" name="idservsicio"  />
                                </div>
                            </div>*@

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-first">OS / OC</label>
                                <div>
                                    <input type="text" class="form-control" id="os" name="os"  value="N/A" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-first">CORREO</label>
                                <div>
                                    <input type="text" class="form-control" id="correoaprobador" name="correoaprobador" />
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-first">ESTADO</label>
                                <div>
                                    <input type="text" class="form-control" id="estadoos" name="estadoos" value="1" />
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12 col-xs-12">
                            <div class="space-4"></div>
                            <div id="groupMOS" class="form-group" >
                                <label class=""> MESES OS </label>
                                <select multiple="" id="mesesAfectado" name="Objmeses" class="select2" data-placeholder="Selecciona el mes"></select>
                              
                           
                            </div>

                            </div>


                          
                    @*</row>*@

                    @*<div class="form-group">
        @Html.LabelFor(x => x.idorden, new { @class = "col-sm-4 control-label pull-left" })
        @Html.TextBoxFor(x => x.idorden, new { @class = "form-control", placeholder = "" })
        @Html.ValidationMessageFor(x => x.idorden, null, new { @class = "label label-danger" })
    </div>

    <div class="form-group">
        <label> Id</label>
        <input type="text" class="form-control" id="idservsicio" name="idservsicio" value="@ViewBag.message2" />
    </div>

                    <div class="form-group">
                        <label> RQ / Requerimiento</label>
                        <input type="text" class="form-control" id="rq" name="rq" />
                    </div>

                    <div class="form-group">
                        <label> Orde de Servicio / Compra</label>
                        <input type="text" class="form-control" id="os" name="os" />
                    </div>


                    <div class="form-group">
                        <label> Aprobador</label>
                        <input type="text" class="form-control" id="aprobador" name="aprobador" />
                    </div>
                    <!--eSTADO TIENEN QUE IR SIEMPRE COMO 1 PERO OCULTO-->
                    <div class="form-group">
                        <label> Estado</label>
                        <input type="text" class="form-control" id="estadoos" name="estadoos" value="1" />
                    </div>

                    *@
               

                  


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
                    @*<button type="button" class="btn btn-primary" id="guardarFrmServicio">Guardar</button>*@
                    <button type="submit" id="guardarFrmServicio"  class="btn btn-primary btn-sm">
                        <span class="spinner-border spinner-border-sm mr-2"></span>
                        Guardar OS
                    </button>
                </div>
                                                        @*</form>*@
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modalMisOsEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
@using (Html.BeginForm("Guardar", "messervicios", FormMethod.Post))
{
    @Html.AntiForgeryToken()
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar Os Mensual</h4>
            </div>
            <div class="modal-body">
                <div  class="row">
                    <div class="col-sm-6" hidden>
                        <div class="form-group">
                            <label>idServicioMes</label>
                            <input id="idServicioMes" name="idServicioMes" class="form-control" placeholder="Mes" />
                        </div>
                    </div>
                    <div class="col-sm-6" hidden>
                        <div class="form-group">
                            <label>idServicio</label>
                            <input id="idServicio" name="idServicio" class="form-control" placeholder="Mes" />
                        </div>
                    </div>
                    <div class="col-sm-6" hidden>
                        <div class="form-group">
                            <label>idorden</label>
                            <input id="idordenMOS" name="idorden" class="form-control" placeholder="Mes" />
                        </div>
                    </div>

                    @*<div class="col-sm-6">
                        <div class="form-group">
                            <label>idorden</label>
                            <input id="idordenMOS" name="idorden" class="form-control" placeholder="Mes" />
                        </div>
                    </div>*@


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Os</label>
                            <input id="meses" name="meses" class="form-control" placeholder="Mes" />
                        </div>
                    </div>
                   <div class="col-sm-6">
                       <div class="form-group">
                           <label>Estado</label>
                           <select id="estado" name="estado" class="form-control">
                               <option value="1" >Activo</option>
                               <option value="0">Desactivado</option>
                           </select>
                       </div>
                   </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
                <button data-ajax="true" class="btn btn-primary btn-sm" >Guardar</button>
            </div>
        </div>
}
    </div>
</div>

<script src="~/Areas/Admin/assetsAce/js/jquery-2.1.4.min.js"></script>
<script src="~/Areas/Admin/assetsAce/js/jquery.bootstrap-duallistbox.min.js"></script>
<script src="~/Areas/Admin/assetsAce/js/jquery.raty.min.js"></script>
<script src="~/Areas/Admin/assetsAce/js/bootstrap-multiselect.min.js"></script>
<script src="~/Areas/Admin/assetsAce/js/select2.min.js"></script>
<script src="~/Areas/Admin/assetsAce/js/jquery-typeahead.js"></script>

<!-- page specific plugin scripts -->
<script src="~/Areas/Admin/assetsAce/js/jquery.dataTables.min.js"></script>
<script src="~/Areas/Admin/assetsAce/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="~/Areas/Admin/assetsAce/js/dataTables.buttons.min.js"></script>
<script src="~/Areas/Admin/assetsAce/js/buttons.flash.min.js"></script>
<script src="~/Areas/Admin/assetsAce/js/buttons.html5.min.js"></script>
<script src="~/Areas/Admin/assetsAce/js/buttons.print.min.js"></script>
<script src="~/Areas/Admin/assetsAce/js/buttons.colVis.min.js"></script>
<script src="~/Areas/Admin/assetsAce/js/dataTables.select.min.js"></script>

<script>

        //initiate dataTables plugin
        //var myTable =
        //$('#tablaMisOs').DataTable({
        //    bAutoWidth: false,
        //});
        

        //function filterGlobal() {
        //    $('#tablaMisOs').DataTable().search(
        //        $('#global_filter').val()
        //       /* $('#global_regex').prop('checked'),
        //        $('#global_smart').prop('checked')*/
        //    ).draw();
        //}

        //function filterColumn(i) {
        //    $('#tablaMisOs').DataTable().column(i).search(
        //        $('#col' + i + '_filter').val()
        //        /*$('#col'+i+'_regex').prop('checked'),
        //        $('#col'+i+'_smart').prop('checked')*/
        //    ).draw();
        //}

        $(document).ready(function () {
           
           var datatableOs= $('#tablaMisOs').DataTable({
                "aaSorting": [],
                //destroy: true,
                //DisplayLength: 5,
                //  pageLength: 10,
                //deferRender: true,
                "responsive": true,
                "ajax": {
                    "method": "POST",
                  //  "dataType": "json",
                    "dataSrc": function (json) {
                        return json;
                    },
                    "url": '@Url.Content("~/admin/messervicios/Listar_MesServicio?idalquiler="+Model.idorden)',
                },                    
                //"language": {

                //    "sProcessing": "Procesando...",
                //    "sLengthMenu": "Mostrar _MENU_ registros",
                //    "sZeroRecords": "No se encontraron resultados",
                //    "sEmptyTable": "Ningún dato disponible en esta tabla",
                //    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
                //    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0",
                //    "sInfoFiltered": "(filtrado de un total de MAX registros)",
                //    "sInfoPostFix": "",
                //    "sSearch": "Buscar:",
                //    "sUrl": "",
                //    "sInfoThousands": ",",
                //    "sLoadingRecords": "Cargando...",
                //    "oPaginate": {
                //        "sFirst": "Primero",
                //        "sLast": "Último",
                //        "sNext": "Siguiente",
                //        "sPrevious": "Anterior"
                //    },
                //    "oAria": {
                //        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                //        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                //    }

                //},
                "columns": [
                   { "data": "idServicioMes" },
                   { "data": "idorden" },
                   { "data": "idServicio" },
                   { "data": "meses" },
                   { "data": "os" },
                      { "data": "rq" },
                         { "data": "aprobador" },
                   { "data": "estado" },
                   {
                       "className":'',
                       "data": null,
                       "orderable":false,
                       "defaultContent": "<button data-identificador='idServicioMes' meses='meses' estado='estado'"
                        + "class='btn btn-xs btn-primary btnEditarMiOs' >  <i class='ace-icon fa fa-pencil-square-o bigger-120 primary'> </i> </button>"
                       //  + ' data-toggle="modal" data-target="#modalMisOsEdit">Edit</button>'
                   }
                ],
                "columnDefs":[
                        {
                            "targets":[1],
                            "visible": true,
                            "searchable":false
                        }
                    ],
                "dom": 'Bfrtip',
                "buttons": [
                    {
                        extend: 'copy',
                        text: 'Copiar',
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: ":not(.no-exportar)" //exportar toda columna que no tenga la clase no-exportar
                        }
                    },
                    {
                        extend: 'csv',
                        text: 'csv',
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: ":not(.no-exportar)" //exportar toda columna que no tenga la clase no-exportar
                        }
                    },
                    {
                        extend: 'excel',
                        text: 'excel',
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: ":not(.no-exportar)" //exportar toda columna que no tenga la clase no-exportar
                        }
                    },
                    {
                        extend: 'pdf',
                        text: 'pdf',
                        //title: 'Data export',
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: ":not(.no-exportar)" //exportar toda columna que no tenga la clase no-exportar
                        }
                    },
                    {
                        extend: 'print',
                        text: 'print',
                        className: 'btn btn-sm btn-primary',
                        exportOptions: {
                            columns: ":not(.no-exportar)" //exportar toda columna que no tenga la clase no-exportar
                        }
                    }
                ]
            });

            /* $('input.global_filter').on( 'keyup click', function () {
               filterGlobal();
           } );*/

            //$('input.column_filter').on('keyup click', function () {
            //    // filterColumn( $(this).parents('tr').attr('data-column') );
            //    filterColumn($(this).attr('data-column'))
            //});
            

        });
    
       
   
    $('#tablaMisOs tbody').on('click', 'button.btnEditarMiOs', function (e) //Al hacer click sobre el boton button.form de la linea de arriba
    {
        e.preventDefault()
        var data_form = $('#tablaMisOs').DataTable().row($(this).parents("tr")).data();
        console.log('hola')
        console.log(data_form.idorden)
        $("#modalMisOsEdit").modal()
        $("#idServicioMes").val(data_form.idServicioMes);
        $("#meses").val(data_form.meses);
        $("#estado").val(data_form.estado);

        $("#idordenMOS").val(data_form.idorden);
        $("#idServicio").val(data_form.idServicio);
        
        
    })
        //function btnEditar() {
        //    $(".btnEditarMiOs").click(function (e) {
        //        e.preventDefault();
        //        alert('click')
        //    })
        //}

</script>



@*Para Guardar laas OS de Servicio*@
<script>

    $("#frmServicio").on('submit', function (e) {
        e.preventDefault()

        var frmData = new FormData(this)
        let action = $("#frmServicio").attr('action');
        // console.log('click enviar formulario')
       // console.log(frmData)

        $.ajax(
          {
              url: action,
              data: frmData,
              processData: false,
              contentType: false,
             // dataType: "json",
              type: "POST",
            //  contentType: "application/json; charset=utf-8",
              success: function (msg) {
                  console.log(msg)

                  

                  let mensajeArray = msg.message.split("-")

                  if (!msg.response) {
                      title = "Ups"
                      icon = "warning"
                  } else {
                      title = "Exito"
                      icon = "success"
                  }

                  Swal.fire({
                      title: title,
                      text: mensajeArray[0],
                      icon: icon,
                      // +' showCancelButton: true,'
                      confirmButtonColor: "#3085d6",
                      //   +' cancelButtonColor: "#d33",'
                      confirmButtonText: "Ok"
                  }).then((result) => {
                      $("#idservsicio").val(mensajeArray[1])
                      $("#guardarFrmServicio").css('display', 'none')
                      $("#groupMOS").css('display', 'block')
                  })
              },
              error: function (result) {
                  alert("ERROR " + result.status + ' ' + result.statusText);
              }
          });
    })

    $("#asignarMeses").on('click', function (e) {
        e.preventDefault();
        //console.log("asignar aqui")
        
        let idServicio = $("#idservsicio").val()
        let idorden = $("#idorden").val()
        let meses = $("#mesesAfectado").val()
        console.log(meses)
        let estado = $("#estadoos").val()


        var datosFrmAM = new FormData()
        datosFrmAM.append("idServicio", idServicio)
        datosFrmAM.append("idorden", idorden)
        datosFrmAM.append("Objmeses", meses)
        datosFrmAM.append("estado", estado)

        $.ajax(
         {
             url: '@Url.Content("~/admin/MesServicios/GuardarMesServicio")',
             data: datosFrmAM,
             processData: false,
             contentType: false,
             dataType: "json",
             type: "POST",
             success: function (msg) {
                 console.log(msg)
                 if (!msg.response) {
                     title = "Ups"
                     icon = "warning"
                 } else {
                     title = "Exito"
                     icon = "success"
                 }

                 Swal.fire({
                     title: title,
                     text: msg.message,
                     icon: icon,
                     // +' showCancelButton: true,'
                     confirmButtonColor: "#3085d6",
                     //   +' cancelButtonColor: "#d33",'
                     confirmButtonText: "Ok"
                 }).then((result) => {
                 })
             },
             error: function (result) {
                 alert("ERROR " + result.status + ' ' + result.statusText);
             }
         });

    })
    @*$("#guardarFrmServicio").on('click', function (e) {
        e.preventDefault();
        console.log('form servicios')
        let os = $("#os").val()
        let estadoos = $("#estadoos").val()
        let rq = $("#rq").val()
        let aprobador = $("#aprobador").val()

      //  var datosFrm = $("#frmServicio").serialize()


        var datosFrm = new FormData()
          datosFrm.append("os", os)
          datosFrm.append('rq', rq)
          datosFrm.append('aprobador', aprobador)
          datosFrm.append('estadoos', estadoos)

       
    })*@

</script>

<script>

    /* desplegable fecha*/
    let meses =['Ene', 'Feb','Mar', 'Abr','May', 'Jun','Jul','Ago', 'Set', 'Oct', 'Nov', 'Dic']
    var f = new Date();
  
    let mesesValidos= new Array()
    for (var i = f.getMonth() ; i <= 11; i++) {
        mesesValidos.push(meses[i] + '-' + f.getFullYear().toString().slice(-2))

    }

    CantMesesFaltanAño = 12 - mesesValidos.length
    

    for (var i = 0; i <= CantMesesFaltanAño; i++) {
        mesesValidos.push(meses[i] + '-' + (Number(f.getFullYear().toString().slice(-2))+1))
    }
 
   
    let mesesOption = '';

    function logArrayElements(element, index, array) {

        mesesOption += '<option value="' + element + '">' + element + '</option>'
    }

    mesesValidos.forEach(logArrayElements);

    $("#mesesAfectado").html(mesesOption);
    //$("#food").html(mesesOption)

    $('.select2').css('width', '200px').select2({ allowClear: true })
    $('#select2-multiple-style .btn').on('click', function (e) {
        var target = $(this).find('input[type=radio]');
        var which = parseInt(target.val());
        if (which == 2) $('.select2').addClass('tag-input-style');
        else $('.select2').removeClass('tag-input-style');
    });

    //$('.multiselect').multiselect({
    //    enableFiltering: true,
    //    enableHTML: true,
    //    buttonClass: 'btn btn-white btn-primary',
    //    templates: {
    //        button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"><span class="multiselect-selected-text"></span> &nbsp;<b class="fa fa-caret-down"></b></button>',
    //        ul: '<ul class="multiselect-container dropdown-menu"></ul>',
    //        filter: '<li class="multiselect-item filter"><div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span><input class="form-control multiselect-search" type="text"></div></li>',
    //        filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default btn-white btn-grey multiselect-clear-filter" type="button"><i class="fa fa-times-circle red2"></i></button></span>',
    //        li: '<li><a tabindex="0"><label></label></a></li>',
    //        divider: '<li class="multiselect-item divider"></li>',
    //        liGroup: '<li class="multiselect-item multiselect-group"><label></label></li>'
    //    }
    //});

    /* desplebable fecha fin */

    $('#enviarFoseCorreo').on('click', () => {
        //  alert($('#correoFrom').val());
        let clienteorden = $('#clienteorden').val();
        console.log("clienteorden " + clienteorden);
        let codigoorden = $('#codigoorden').val();
        console.log("codigoorden " + codigoorden);
        let correo = $('#correoFrom').val()
        console.log("correo " + correo)
        let numeroorden = $('#numeroorden').val();
        console.log("numeroorden " + numeroorden)
        var porId = document.getElementById("idorden").value
        console.log("porId " + porId)


       
        $.ajax(
          {
              url:'@Url.Content("~/admin/orden/enviarCorreoFose")'+"?correo="+correo+"&id="+porId+"&codigoorden="+codigoorden+"&clienteorden="+clienteorden+"&numeroorden="+numeroorden,
             // url: "http://localhost:54520/admin/orden/enviarCorreoFose?correo=" + correo + "&id=" + porId + "&codigoorden=" + codigoorden + "&clienteorden=" + clienteorden + "&numeroorden=" + numeroorden,
              data: '',
              dataType: "json",
              type: "GET",
              contentType: "application/json; charset=utf-8",
              success: function (msg) {

                  if (!msg.response) {
                      title = "Ups"
                      icon ="warning"
                  } else {
                      title = "Exito"
                      icon ="success"
                  }

                      Swal.fire({
                     title: title,
                  text:  msg.message,
                  icon: icon,
                // +' showCancelButton: true,'
                 confirmButtonColor:"#3085d6",
              //   +' cancelButtonColor: "#d33",'
                  confirmButtonText: "Ok"
              }).then((result) => {

              })

              },
              error: function (result) {
                  alert("ERROR " + result.status + ' ' + result.statusText);
              }
          });
          })
</script>

<script>
    $('#enviarGuiaRemisionCorreo').on('click', () => {
        //  alert($('#correoFrom').val());
        let clienteorden = $('#clienteorden').val();
        let codigoorden = $('#codigoorden').val();
        let correo = $('#correoFromGuiaRemision').val()

        var porId = document.getElementById("idorden").value

     //   '@Url.Content("~/admin/orden/enviarCorreoFose")'
        $.ajax(
          {
              url:'@Url.Content("~/admin/orden/enviarCorreoGuiaRemision")' +"?correo=" + correo + "&id=" + porId + "&codigoorden=" + codigoorden + "&clienteorden=" + clienteorden,
              data: '',
              dataType: "json",
              type: "GET",
              contentType: "application/json; charset=utf-8",
              success: function (msg) {

                  if (!msg.response) {
                      title = "Ups"
                      icon ="warning"
                  } else {
                      title = "Exito"
                      icon ="success"
                  }

                      Swal.fire({
                     title: title,
                  text:  msg.message,
                  icon: icon,
                // +' showCancelButton: true,'
                 confirmButtonColor:"#3085d6",
              //   +' cancelButtonColor: "#d33",'
                  confirmButtonText: "Ok"
              }).then((result) => {
                  if (result.value) {

                  }
              })

              },
              error: function (result) {
                  alert("ERROR " + result.status + ' ' + result.statusText);
              }
          });
    })
</script>
